<div class="inner">
    <div class="ft_box_01">
        <img class="fb_logo" src="/content/media/image/logo-w.png" />
        <div class="fb_text">
            <p>(주)온누리 인터내셔널</p>
            <p>대표이사 : 이우빈</p>
            <p>서울특별시 관악구 남부순환로 220길 39 301호</p>
            <p class="copyright">2020 ONNURI INTERNATIONAL. All Rights Reserved.</p>
        </div>
    </div>
    <!-- <div class="ft_box_02">
        <div class="fb_container">
            <p class="fbc_01">CS CENTER</p>
            <p class="fbc_02">02-123-4567</p>
        </div>
        <div class="fb_container">
            <p class="fbc_01">CS CENTER</p>
            <p class="fbc_02">02-123-4567</p>
        </div>
    </div> -->
</div>