<div class="inner">
    <h1>
        <a href="/vn/index.html"></a>
    </h1>
    <span class="title">

    </span>
    <h1 class="menu">
        <i href="#"></i>
    </h1>
</div>
<div id="hmenu">
    <div class="hmenu_container">
        <a href="/vn/index.html" class="h_logo_left">
            <img src="/content/media/image/logo-b.png"/>
        </a>
        <ul class="hmenu_inner">
            <li class="hbrand"><a href="/vn/pages/brand.html"><span>Về SEGNO</span><i class="hline"></i></a></li>
            <li class="hproduct"><a href="/vn/pages/product.html"><span>Sản phẩm</span><i class="hline"></i></a></li>
            <li class="hcontact"><a href="/vn/pages/contact.html"><span>Liên hệ</span><i class="hline"></i></a></li>
        </ul>
        <div class="h_lang_select">
            <div class="hl_container">
                <a href="/ko/index.html" class="n">KR</a>
                <a href="/en/index.html" class="n">ENG</a>
                <a href="/vn/index.html" class="s">VN</a>
                <div class="arrow_d">
                </div>
            </div>
        </div>
    </div>
</div>