<div class="inner">
    <h1>
        <a href="/vn/index.html"></a>
    </h1>
</div>
<div id="hmenu">
    <div class="hmenu_container">
        <a href="/" class="h_logo_left">
            <img src="/content/media/image/logo-b.png"/>
        </a>
        <ul class="hmenu_inner">
            <li><a href="/vn/pages/brand.html"><span>Về SEGNO</span></a></li>
            <li><a href="/vn/pages/product.html"><span>Sản phẩm</span></a></li>
            <li><a href="/vn/pages/store.html"><span>Liên hệ</span></a></li>
        </ul>
        <div class="h_lang_select">
            <div class="hl_container">
                <a href="/ko/index.html" class="n">KR</a>
                <a href="/en/index.html" class="n">ENG</a>
                <a href="/vn/index.html" class="s">VN</a>
                <div class="arrow_d">
                </div>
            </div>
        </div>
    </div>
</div>