<div class="inner">
    <div class="ft_box_01">
        <img class="fb_logo" src="../../content/media/image/logo-w.png" />
        <div class="fb_text">
            <p>회사명</p>
            <p>대표이사명</p>
            <p>회사주소</p>
            <p>카피라이트</p>
        </div>
    </div>
    <div class="ft_box_02">
        <div class="fb_container">
            <p class="fbc_01">CS CENTER</p>
            <p class="fbc_02">02-123-4567</p>
        </div>
        <div class="fb_container">
            <p class="fbc_01">CS CENTER</p>
            <p class="fbc_02">02-123-4567</p>
        </div>
    </div>
</div>