<div class="inner">
    <h1>
        <a href="/ko/index.html"></a>
    </h1>
</div>
<div id="hmenu">
    <div class="hmenu_container">
        <a href="/" class="h_logo_left">
            <img src="/content/media/image/logo-b.png"/>
        </a>
        <ul class="hmenu_inner">
            <li><a href="/ko/pages/brand.html"><span>BRAND</span></a></li>
            <li><a href="/ko/pages/product.html"><span>PRODUCT</span></a></li>
            <li><a href="/ko/pages/store.html"><span>STORE</span></a></li>
        </ul>
    </div>
</div>