<div class="inner">
    <h1>
        <a href="/en/index.html"></a>
    </h1>
</div>
<div id="hmenu">
    <div class="hmenu_container">
        <a href="/" class="h_logo_left">
            <img src="/content/media/image/logo-b.png"/>
        </a>
        <ul class="hmenu_inner">
            <li><a href="/en/pages/brand.html"><span>BRAND</span></a></li>
            <li><a href="/en/pages/product.html"><span>PRODUCT</span></a></li>
            <li><a href="/en/pages/store.html"><span>STORE</span></a></li>
        </ul>
        <div class="h_lang_select">
            <div class="hl_container">
                <a href="/ko/index.html" class="n">KR</a>
                <a href="/en/index.html" class="s">ENG</a>
                <div class="arrow_d">
                </div>
            </div>
        </div>
    </div>
</div>